UF1. Programación con XML (45 horas)/Curso 2018-19/4_XML_Schema/Ejercicios_41-47/Ejercicio_42/Ex2_AlvaroGarcia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="persona">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dades">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nom" type="xs:string"/>
							<xs:element name="cognoms" type="xs:string"/>
							<xs:element name="dni" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="codi" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="comentari" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="naixement" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
